body {
  padding:0;
}

div.wrapper {
  padding-top:1.2rem;
}

div.wrapper.fullscreen {
  padding-top:0;
}

.header, .top-bar, .button, .button:hover {
  background:#7a71ae;
}

.top-bar .name h1 a  {
  font-weight:bold;
}

.top-bar .fa {
  margin-right:3px;
}

.orbit-caption a {
    color:#fff;
}

.orbit-caption a:hover {
    color:#fff;
    text-decoration: underline;
}

.orbit-attribution {
    display:block;
    font-size:0.6rem;
    text-align:right;
    position: absolute;
    top: -18px;
    right: 6px;
}

ul.small-block-grid-2.services {
  text-align:center;
}

ul.small-block-grid-2.services .fa {
  display:block;
}

a, .side-nav li a:not(.button), .side-nav li a:not(.button):hover {
  color: #7A71AE;
}

a:hover {
  color:#3b3b7b;
}

ul.side-nav {
  border: solid 1px #dfdfdf;
  padding:0;
  border-bottom:0;
  margin-bottom:2rem;
}

ul.side-nav li {
  border-bottom: solid 1px #dfdfdf;
  margin-bottom:0;
}

ul.side-nav li a {
  padding: 0.875rem 0.875rem!important;
}

ul.side-nav li > a:after {
  content: "❭";
  float:right;
}

h3 {
  border-bottom:solid 1px #ccc;
  padding-bottom:1rem;
  margin-bottom:2rem;
}

.button {
  font-weight:bold;
}

.panel h4 {
  line-height:1.5rem;
  font-weight:bold;
}