{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
    <ul class="example-orbit" data-orbit>
        <li>
            <img src="{{url_for('static', filename="images/country.jpg")}}" alt="slide 2" />
            <div class="orbit-caption">
                <a href="">Country Show dates announced</a>
                <span class="orbit-attribution">(cc) <a href="https://www.flickr.com/photos/katcha/9333479763"> Katie Sadler</a></span>
            </div>
        </li>
        <li class="active">
            <img src="{{url_for('static', filename="images/parking.jpg")}}" alt="slide 2" />
            <div class="orbit-caption">
                <a href="">Local vote - new parking zones in operation</a>
                <span class="orbit-attribution">(cc) <a href="https://commons.wikimedia.org/wiki/File:Trafic_warden_camden.jpg">Salim Fadhley</a></span>
            </div>
        </li>
        <li>
            <img src="{{url_for('static', filename="images/tram.jpg")}}" alt="slide 2" />
            <div class="orbit-caption">
                Tram extension - 200 job opportunities
                <span class="orbit-attribution">(cc) <a href="https://commons.wikimedia.org/wiki/File:Edinburgh_tram_at_Gogar_Tram_Depot.JPG?uselang=en-gb">Kim Traynor</a></span>
            </div>
        </li>
        <li>
            <img src="{{url_for('static', filename="images/townhall.jpg")}}" alt="slide 2" />
            <div class="orbit-caption">
                City status for Borchester
                <span class="orbit-attribution">(cc) <a href="https://commons.wikimedia.org/wiki/File:Hull%27s_Guildhall_-_geograph.org.uk_-_1758569.jpg">Andy Beecroft</a></span>
            </div>
        </li>
    </ul>

  <div class="row">
    <div class="small-12 columns">
      <h3>Popular services</h3>
      <ul class="services small-block-grid-2">
        <li>
          <a href="{{url_for('parking_permit_start')}}">
            <i class="fa fa-car fa-2x"></i>
            Get a parking permit
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-building fa-2x"></i>
            Apply for planning permission
          </a>
        </li>
        <li>
          <a href="{{url_for('parking_permit_start')}}">
            <i class="fa fa-bullhorn fa-2x"></i>
            Report noise
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-home fa-2x"></i>
            Find housing
          </a>
        </li>
      </ul>
      <ul class="side-nav">
        <li>
          <a href="#">
            Browse all services
          </a>
        </li>
        <li>
          <a href="#">
            Services near by
          </a>
        </li>
      </ul>
      <h3>Recent notices</h3>
      <ul>
        {% for notice in notices %}
          <li><a href="/notices">{{notice.title}} at {{ notice.detail }}</a></li>
        {% endfor %}
      </ul>

      <h3>Recent votes and debates</h3>

   </div>
  </div>
{% endblock %}
