{% extends "base.html" %}
{% block title %}Complete{% endblock %}
{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <div class="panel">
        <h3>Notices</h3>
        {% for notice in notices %}
            <div class="panel">
                <h4>Application for {{notice.title}}</h4>
                <p>Licenced address: {{ notice.detail }}</p>
                <p>Subject of application: {{ notice.subject_name }}</p>
                <p><a href="{{ notice.subject_uri }}">View source</a>
            </div>
        {% endfor %}
      </div>
   </div>
  </div>
{% endblock %}
