{% extends "base.html" %}
{% block title %}Complete{% endblock %}
{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <div class="panel">
        <h3>Done</h3>
        <p>
          Car registration <strong>MA25 CMR</strong> is now licenced to park in <strong>Central Zone Q</strong>
        </p>
        <p>
          You do not need to display anything in the window of your car, traffic wardens will
          check your licence plate against our records.
        </p>
      </div>
   </div>
  </div>
{% endblock %}
